
bookscraper/bookscraper/__pycache__/__init__.cpython-310.pyc
bookscraper/bookscraper/__pycache__/settings.cpython-310.pyc
bookscraper/bookscraper/spiders/__pycache__/__init__.cpython-310.pyc
bookscraper/bookscraper/spiders/__pycache__/bookspider.cpython-310.pyc
